<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-toggler rounded-0 p-3" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand ps-5" [routerLink]="['/home']">
      <img src="./crm.png" alt="Bootstrap" width="30" height="30">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
        <a class="nav-link" [routerLink]="['/nuevoUsuario']">Nuevo Usuario</a>
      </div>
    </div>
  </div>
</nav>
