<header>
    <app-header></app-header>
</header>

<section class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img [src]="usuario.image" class="img-fluid rounded" alt="{{usuario.first_name}} {{usuario.last_name}}">
        </div>
        <div class="col-md-1 d-flex justify-content-center">
            <div class="vr" style="height: 50vh;"></div>
        </div>
        <div class="col-md-7">
            <h2>{{usuario.first_name}}</h2>
            <h3>{{usuario.last_name}}</h3>
            <p><span class="fw-bold">Nombre Usuario: </span>{{usuario.username}}</p>
            <p><span class="fw-bold">Email: </span>{{usuario.email}}</p>
            <div class="row">
                <button class="col-3 btn btn-outline-primary" (click)="deleteUser(id)">Eliminar</button>
                <a class="col-3 btn btn-outline-primary" [routerLink]="['/actualizarUsuario/',usuario._id]">Actualizar</a>
                <a class="col-3 btn btn-outline-primary" [routerLink]="['/home']">Volver al listado</a>
            </div>
        </div>
    </div>
</section>